server.servlet.context-path: /finn-kandidat-api

management.endpoints.web:
  exposure.include: info, health, metrics, prometheus
  base-path: /internal/actuator

spring.profiles.active: local, mock

---
spring.profiles: local

spring.h2.console:
  enabled: true
  path: /h2

no.nav.security.oidc:
  issuers: isso
  issuer.isso:
    discoveryurl: http://metadata-isso
    accepted_audience: aud-isso

tilgangskontroll.tilbakemeldinger: X12345,Y23456,Z34567,X123456

mock:
  port: 8081
  baseUrl: http://localhost:${mock.port}

sts.url: ${mock.baseUrl}/sts
veilarbabac.url: ${mock.baseUrl}/veilarbabac
abac.url: ${mock.baseUrl}/abac

STS_BRUKERNAVN: na
STS_PASSORD: na

---
spring:
  profiles: dev

database:
  navn: finn-kandidat-dev
  url: jdbc:postgresql://b27dbvl007.preprod.local:5432/finn-kandidat-dev

vault.mount-path: postgresql/preprod-fss

no.nav.security.oidc:
  issuers: isso, isso-openam
  issuer.isso-openam:
    discoveryurl: https://isso-q.adeo.no/isso/oauth2/.well-known/openid-configuration
    accepted_audience: veilarblogin-q1
    cookieName: ID_token
  issuer.isso:
    discoveryurl: https://login.microsoftonline.com/NAVQ.onmicrosoft.com/.well-known/openid-configuration
    accepted_audience: 38e07d31-659d-4595-939a-f18dce3446c5
    proxyurl: http://webproxy.nais:8088

tilgangskontroll.tilbakemeldinger: ${TILGANGSKONTROLL_TILBAKEMELDINGER}

sts.url: https://security-token-service.nais.preprod.local/rest/v1
veilarbabac.url: https://veilarbabac-q1.nais.preprod.local
abac.url: https://wasapp-q1.adeo.no/asm-pdp/authorize

---
spring:
  profiles: prod

database:
  navn: finn-kandidat-prod
  url: jdbc:postgresql://a01dbfl039.adeo.no:5432/finn-kandidat-prod

vault.mount-path: postgresql/prod-fss

no.nav.security.oidc:
  issuers: isso, isso-openam
  issuer.isso-openam:
    discoveryurl: https://isso.adeo.no/isso/oauth2/.well-known/openid-configuration
    accepted_audience: veilarblogin-p
    cookieName: ID_token
  issuer.isso:
    discoveryurl: https://login.microsoftonline.com/navno.onmicrosoft.com/.well-known/openid-configuration
    accepted_audience: 9b4e07a3-4f4c-4bab-b866-87f62dff480d
    proxyurl: http://webproxy.nais:8088

sts.url: https://security-token-service.nais.adeo.no/rest/v1
veilarbabac.url: https://veilarbabac.nais.adeo.no
abac.url: https://wasapp.adeo.no/asm-pdp/authorize