<configuration scan="true">
    <springProfile name="dev,prod">
        <appender name="consoleAppender" class="no.nav.finnkandidatapi.fnrmaskering.MaskingAppender">
            <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
        </appender>

        <logger name="jsonLogger" additivity="false" level="INFO">
            <appender-ref ref="consoleAppender"/>
        </logger>

        <logger name="no.nav.finnkandidatapi" level="INFO"/>
        <logger name="no.nav.finnkandidatapi.synlighet.SynlighetController" level="DEBUG"/>
        <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="ERROR">
            <!-- For å bli kvitt masse warnings i apploggen som sier "The configuration 'schema.registry.url' was supplied but isn't a known config."
            Se https://github.com/apache/kafka/pull/5876 -->
        </logger>

        <appender name="secureLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/secure-logs/secure.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>/secure-logs/secure.log.%i</fileNamePattern>
                <minIndex>1</minIndex>
                <maxIndex>1</maxIndex>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <maxFileSize>128MB</maxFileSize>
            </triggeringPolicy>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <logger name="secureLog" level="TRACE" additivity="false">
            <appender-ref ref="secureLog"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="consoleAppender"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="org.springframework.web" level="INFO"/>
    </springProfile>
</configuration>
